.particle {
  position: absolute;
  border-radius: 50%;
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(59vw, 51vh, 32px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.49;
  height: 6px;
  width: 6px;
  animation-delay: -0.2s;
  transform: translate3d(5vw, 44vh, 70px);
  background: hsl(80deg, 70%, 50%);
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(12vw, 49vh, 6px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.12;
  height: 8px;
  width: 8px;
  animation-delay: -0.4s;
  transform: translate3d(42vw, 26vh, 54px);
  background: hsl(95deg, 70%, 50%);
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(2vw, 11vh, 90px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.69;
  height: 8px;
  width: 8px;
  animation-delay: -0.6s;
  transform: translate3d(10vw, 37vh, 99px);
  background: hsl(199deg, 70%, 50%);
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(71vw, 22vh, 38px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.13;
  height: 7px;
  width: 7px;
  animation-delay: -0.8s;
  transform: translate3d(68vw, 46vh, 64px);
  background: hsl(101deg, 70%, 50%);
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(82vw, 53vh, 76px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.01;
  height: 9px;
  width: 9px;
  animation-delay: -1s;
  transform: translate3d(6vw, 34vh, 51px);
  background: hsl(325deg, 70%, 50%);
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(10vw, 40vh, 74px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.61;
  height: 10px;
  width: 10px;
  animation-delay: -1.2s;
  transform: translate3d(1vw, 3vh, 58px);
  background: hsl(315deg, 70%, 50%);
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(39vw, 90vh, 29px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.85;
  height: 7px;
  width: 7px;
  animation-delay: -1.4s;
  transform: translate3d(47vw, 17vh, 19px);
  background: hsl(193deg, 70%, 50%);
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(20vw, 84vh, 62px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.85;
  height: 7px;
  width: 7px;
  animation-delay: -1.6s;
  transform: translate3d(59vw, 89vh, 65px);
  background: hsl(149deg, 70%, 50%);
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(46vw, 54vh, 92px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.63;
  height: 6px;
  width: 6px;
  animation-delay: -1.8s;
  transform: translate3d(24vw, 77vh, 31px);
  background: hsl(110deg, 70%, 50%);
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(51vw, 48vh, 32px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.7;
  height: 7px;
  width: 7px;
  animation-delay: -2s;
  transform: translate3d(87vw, 3vh, 41px);
  background: hsl(50deg, 70%, 50%);
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(58vw, 32vh, 26px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.44;
  height: 8px;
  width: 8px;
  animation-delay: -2.2s;
  transform: translate3d(77vw, 30vh, 17px);
  background: hsl(68deg, 70%, 50%);
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(36vw, 16vh, 23px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.51;
  height: 7px;
  width: 7px;
  animation-delay: -2.4s;
  transform: translate3d(25vw, 90vh, 7px);
  background: hsl(96deg, 70%, 50%);
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(30vw, 31vh, 35px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.12;
  height: 8px;
  width: 8px;
  animation-delay: -2.6s;
  transform: translate3d(82vw, 61vh, 50px);
  background: hsl(226deg, 70%, 50%);
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(30vw, 70vh, 31px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.82;
  height: 10px;
  width: 10px;
  animation-delay: -2.8s;
  transform: translate3d(32vw, 88vh, 1px);
  background: hsl(207deg, 70%, 50%);
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(40vw, 5vh, 56px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.77;
  height: 6px;
  width: 6px;
  animation-delay: -3s;
  transform: translate3d(68vw, 86vh, 37px);
  background: hsl(46deg, 70%, 50%);
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(4vw, 73vh, 38px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.62;
  height: 8px;
  width: 8px;
  animation-delay: -3.2s;
  transform: translate3d(37vw, 1vh, 61px);
  background: hsl(163deg, 70%, 50%);
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(60vw, 84vh, 53px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.51;
  height: 10px;
  width: 10px;
  animation-delay: -3.4s;
  transform: translate3d(3vw, 62vh, 6px);
  background: hsl(284deg, 70%, 50%);
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(47vw, 89vh, 70px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.63;
  height: 6px;
  width: 6px;
  animation-delay: -3.6s;
  transform: translate3d(58vw, 29vh, 16px);
  background: hsl(218deg, 70%, 50%);
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(66vw, 16vh, 72px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.24;
  height: 10px;
  width: 10px;
  animation-delay: -3.8s;
  transform: translate3d(11vw, 24vh, 96px);
  background: hsl(128deg, 70%, 50%);
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(72vw, 51vh, 54px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.82;
  height: 6px;
  width: 6px;
  animation-delay: -4s;
  transform: translate3d(88vw, 45vh, 48px);
  background: hsl(313deg, 70%, 50%);
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(63vw, 16vh, 65px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.59;
  height: 8px;
  width: 8px;
  animation-delay: -4.2s;
  transform: translate3d(10vw, 39vh, 23px);
  background: hsl(224deg, 70%, 50%);
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(10vw, 26vh, 85px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.7;
  height: 7px;
  width: 7px;
  animation-delay: -4.4s;
  transform: translate3d(89vw, 2vh, 52px);
  background: hsl(245deg, 70%, 50%);
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(84vw, 6vh, 94px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.42;
  height: 9px;
  width: 9px;
  animation-delay: -4.6s;
  transform: translate3d(33vw, 56vh, 65px);
  background: hsl(261deg, 70%, 50%);
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(12vw, 44vh, 55px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.07;
  height: 6px;
  width: 6px;
  animation-delay: -4.8s;
  transform: translate3d(30vw, 1vh, 81px);
  background: hsl(220deg, 70%, 50%);
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(45vw, 25vh, 83px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 1;
  height: 6px;
  width: 6px;
  animation-delay: -5s;
  transform: translate3d(61vw, 2vh, 74px);
  background: hsl(144deg, 70%, 50%);
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(24vw, 82vh, 78px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.66;
  height: 6px;
  width: 6px;
  animation-delay: -5.2s;
  transform: translate3d(7vw, 10vh, 29px);
  background: hsl(163deg, 70%, 50%);
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(22vw, 68vh, 13px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.73;
  height: 9px;
  width: 9px;
  animation-delay: -5.4s;
  transform: translate3d(55vw, 55vh, 39px);
  background: hsl(294deg, 70%, 50%);
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(6vw, 3vh, 78px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.22;
  height: 6px;
  width: 6px;
  animation-delay: -5.6s;
  transform: translate3d(1vw, 1vh, 72px);
  background: hsl(290deg, 70%, 50%);
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(81vw, 1vh, 68px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.45;
  height: 8px;
  width: 8px;
  animation-delay: -5.8s;
  transform: translate3d(21vw, 60vh, 9px);
  background: hsl(298deg, 70%, 50%);
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(88vw, 22vh, 64px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.11;
  height: 9px;
  width: 9px;
  animation-delay: -6s;
  transform: translate3d(88vw, 54vh, 24px);
  background: hsl(316deg, 70%, 50%);
}

/*# sourceMappingURL=particles.css.map */
