

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  
  display: flex;
  overflow: hidden;
  /* a nice modern font*/
  /* use roboto font */
  font-family: 'Poppins', sans-serif;
}

#particle-container {
  z-index: 1;
  position: relative;
  display: none;
}

.credits {
  color: white;
  text-align: center;
  
}

.credits > span {
  color: black;
  font-size: 0.7rem;
}

#madeby {
  font-size: 1.3rem;
  margin-bottom: 0;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 10px black;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 12%;
  min-width: 12%;
  z-index: 2;
  background-color: transparent;
  padding: 20px;
  height: 100vh;
  background: url('images/icons.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top 20px !important;
  overflow-y: auto; /* Enable vertical scrolling within the sidebar */
}

#content {
  z-index: 2;
  flex: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  background-image: url('images/ash_misty_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  

  /* set background color opacity */
  
}

.endContainer {
  
  position: relative;
  bottom: 25px;
}

#current {
  margin-bottom: -15%;
  height: 150%;
}

.poke-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.botrow {
  height: 30%;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.pokeBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 100vh;
  border-right: 1px solid gray;
  z-index: 2;
  background: linear-gradient(to top, gray, white);
  margin: 0;
  
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: gray;
  box-shadow: 0px 0px 10px gray;
  color: white;
  font-weight: bold;
  font-family: 'Poppins';
  font-size: 1.2rem;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: 4px solid white;
  outline: none;
  transition: 0.4s;
  border-radius: 10px;
  text-align: center;
}

.accordion.active {
  background-color: white;
  color: gray;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  opacity: 0.4;
  margin-right: 100px;
  margin-left: 100px;
  
}

.icon > img {
  top: -50px;
  width: 100px;
  mix-blend-mode: multiply;

}



/* make ul items have no bullet */
ul {
  list-style-type: none;
  margin: 5px;
  padding-left: 5px;
  
}

li {
  margin: 10px;
}

li a {
  text-decoration: none;
  padding: 3px 5px;
  
  text-shadow: 0px 0px 1px rgb(2, 2, 2);
  border-radius: 3px;
  
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

#numresults {
  margin: 0;
}

#toomany {
  margin-bottom: 0px;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: transparent;
  
  overflow: hidden;
  
  /* add more space at the bottom */
  padding-bottom: 0px;
  border-bottom: 1px solid gray;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.search {
  margin-top: 10px;
  height: 30px;
  display: flex;
  cursor: pointer;
  
  padding: 5px 10px;
  background-color: white;
  border-radius: 30px;
  align-items: center;
  
  box-shadow: 0px 0px 5px gray;


}



.search input {
  width: 0;
  
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
}

.search:hover input {
  width: 100px;
}



.types {
  margin: 0;
  padding: 0;
}

.search-container {
  height: 100%;
}

.rounded-box {
  
  background-color: rgba(255,255,255,0.6);
  border: 1px solid gray;
  box-shadow: 0px 0px 10px gray;
  padding: 8px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: 0.9rem;
}

.evos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.display-header {
  min-height: 60px;
  max-height: 90px;
}

.display-header h3 {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 1.8rem !important;
  
}

.display-header p {
  font-size: 0.8rem;
  margin-top: 0;
}

#types {
  width: 100px;
  
}

.types > h3 {
  margin: 0 5px;
  margin-top: 0px;
  padding: 0;
}

.display-pokemon {
  /* a rounded box that has a constant width of 300 pixels but whose height automatically changes */
  width: calc(25% - 20px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* what is the one for text size */
  text-align: center;
  
  /* change font size */
  font-size: 1rem;
  margin: 10px;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ebebeb;
  box-shadow: 2px 2px 10px #cacaca;

}

.display-pokemon > p {
  padding: 0 10px;
  margin: 10px 5px;
}

#hp {
  background-color: rgba(255, 99, 132, 0.2);
  padding: 3px;
  border: 1px solid rgba(255, 99, 132, 1);
  border-radius: 5px;
}

#attack {
  background-color: rgba(54, 162, 235, 0.2);
  padding: 3px;
  border: 1px solid rgba(54, 162, 235, 1);
  border-radius: 5px;
}

#defense {
  background-color: rgba(255, 206, 86, 0.2);
  padding: 3px;
  border: 1px solid rgba(255, 206, 86, 1);
  border-radius: 5px;
}

#speed {
  background-color: rgba(75, 192, 192, 0.2);
  padding: 3px;
  border: 1px solid rgba(75, 192, 192, 1);
  border-radius: 5px;
}

.images > img {
  margin: 10px;
  width: 150px;

}

.display-header {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 15%;
  border-bottom: 1px solid #a3a3a3;
  /* border the text */
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px #a3a3a3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-pokemon.big {
  background-color: transparent;
  border: none;
  box-shadow: none;
  height: 100%;
}

.display-pokemon.big h3 {
  font-size: 2em;
}

#next, #prev {
  display: none;
}

#myChart, #myChartNext, #myChartPrev {
  background-color: rgba(255,255,255,0.6);
  border-top: 1px solid #a3a3a3;
  position: relative;
  overflow: hidden;
  content: '';
  max-width: 100%;
  max-height: 100%;
}




.images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  
}

.images #big-image {
  width: 200px;
}

.lineContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 0px 5px lightgrey;
  background-color: rgb(255, 255, 255,0.5);
  
  width: 32%;
  height: 80%;
  
}


.statDistWindow {
  display: none;
  min-height: 80vh;
  min-width: 100vh;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;

}

.graphs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
}

.graphBox {
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 170px;
  width: 170px;
  border-radius: 10px;
  border: 1px solid rgb(194, 194, 194);
  box-shadow: 0px 0px 10px rgb(175, 175, 175);
  margin: 0;
  padding: 50px 10px;
  gap: 0;
  
 
}

.graphBox.selected {
  background-color: white;
}

.lineGen {
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 500px;
  height: 240px;
  border-radius: 10px;
  border: 1px solid rgb(194, 194, 194);
  box-shadow: 0px 0px 10px rgb(175, 175, 175);
  margin: 0;
  padding: 15px;
  gap: 0;
}

.graphBox h3 {
  margin: 0; 
  background-color: white;
  
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid lightgray;
  box-shadow: 0px 0px 5px gray;
  top: -25px;

}

.genPokemon {
  gap: 0;
  position: relative;
  top: -15px;
  padding: 5px;
}

.genPokemon > img {
  padding: -5px;
  border-radius: 50%;
  margin: 0;
}

.genPokemon > img:hover {
  background-color: rgba(255,255,255,0.8);
}

.selectedPokemon {
  width: 450px;
  height: 270px;
  display: flex;
  font-size: 0.9rem !important;
  align-items: center;
  justify-content: center;
  background-color: #e2e2e2;
  box-shadow: 0px 0px 10px rgb(129, 129, 129);
  border-radius: 10px;
  flex-wrap: wrap;
  position: relative;
  
}

.lineGenGraph {
  position: relative;
  top: -10px;
}

.selectedPokemon > h3 {
  display: none;
  position: relative;
  margin-top: 5px;
  text-shadow: 0px 0px 1px white;
  
}

.statDist {
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}

.statDistWindow > h3 {
  margin: 10px;
  margin-top: 20px;

}

.graphBox > p {
  margin: 0;
  padding: 0;
  position: relative;
  
  font-size: 5;
}

.lineGen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  padding: 30px;
  height: 210px;
}

.lineGen > h3 {
  position: relative;
  top: -15px;
  margin: 0 5px;
  padding: 0;
}

.lineGen > canvas {
  margin: 0 5px;
  padding: 0;
}

.graphBox > button {
  width: 80%;
  height: 25px;
  content: '';
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: darkgray;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  padding: 5px;
  align-self: center;
}

.graphBox > button:hover {
  background-color: lightgray;
  cursor: pointer;
  color: gray;
}

.legendary {
  
  border: 4px solid yellow !important;
  box-shadow: 0px 0px 20px lightyellow !important;
  margin-bottom: 100px;
  
}

#legendaryTitle {
  font-size: 2rem;
  padding-top: 0px;
  background-color: rgb(255, 253, 105);
  
  border-radius: 10px;
  border: 1px solid yellow;
  box-shadow: 0px 0px 10px yellow;
  
  text-shadow: 0px 0px 10px rgb(46, 46, 0);
  color: yellow;
  padding: 5px 10px;

}

